
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal" [containerInside]="true">
           
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">{{ title }}</a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link waves-light" mdbRippleRadius routerLink="">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" mdbRippleRadius routerLink="Login">Login</a>
          </li>

          <!-- Dropdown -->
          <!-- <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              Order Food<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Vegetarian</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Non-Vegetarian</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Choose category</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Favourites</a>
              </div>
          </li> -->

      </ul>
      <!-- Links -->

      <!-- Search form -->
      <form class="form-inline  waves-light" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
          
<router-outlet></router-outlet>