<div class="jumbotron text-center">
  <h1 class="h1 h1-responsive">About</h1>
  <p class="lead">Welcome to the Virtual Food Court!</p>
  <hr class="my-2">
  <div>
    <a [routerLink]="['/Register']">
      <button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Register</button>
    </a>
    <a [routerLink]="['/Login']">
      <button type="button" class="btn btn-secondary waves-light" mdbRippleRadius>Login</button>
    </a>
  </div>
</div>
<div class="row" >
  <div class="col-sm-4">
    <!--Panel-->
    <div class="card">
        <div class="card-header default-color-dark lighten-1 white-text">
            Administrator
        </div>
        <div class="card-body">
            <p class="card-text">As an adminstrator, you can manage the vendors of the food court</p>
        </div>
    </div>
    <!--/.Panel-->
  </div>
  <div class="col-sm-4">
    <!--Panel-->
    <div class="card">
        <div class="card-header default-color-dark lighten-1 white-text">
            Vendors
        </div>
        <div class="card-body">
            <p class="card-text">As a vendor, you can manage your food menu categories and menu items</p>
        </div>
    </div>
    <!--/.Panel-->  
  </div>    
  <div class="col-sm-4">
    <!--Panel-->
    <div class="card">
        <div class="card-header default-color-dark lighten-1 white-text">
            Customers
        </div>
        <div class="card-body">
            <p class="card-text">As a customer, you can order food from the vendors in the food court</p>
        </div>
    </div>
    <!--/.Panel-->     
  </div>
</div>   

